*{font-family: Verdana;}
body,html,h1,h2,h3,h4,h5,h6,big,small,sub,sup,input,select,textarea{font-size:13px; color:#333; -webkit-text-size-adjust:none; outline:0;}
header,footer,section,aside,nav,hgroup,figure,figcaption{display:block; margin:0; padding:0; border:none;}
body,div,p,span,strong,b,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,blockquote{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
ul,ol{list-style:none;}
img{border:0 none;}
input[type='text'],input[type='number'],input[type='password'],input[type='reset'],input[type='submit'],input[type='button'],input[type='tel'],button,textarea{-webkit-appearance:none; border-radius:0; border:1px solid #ddd;}

textarea{resize:none;}
table{border-collapse:collapse; border-spacing:0;}

.clearfix:before,
.clearfix:after{content:'\20';display:block;height:0;clear:both; overflow:hidden;}
.clearfix{*zoom:1;}
.clear{ clear:both; visibility:hidden;}

a{color:#000; text-decoration:none;}
a:hover{text-decoration:underline;}
a.red{color:red; text-decoration:none;}
a.red:hover{color:red; text-decoration:underline;}

.unline,a.unline{text-decoration:underline!important;}

.fl{float: left!important;}
.fr{float: right!important;}

.hidden {display: none!important;}
.block {display: block!important;}

.fixed{position: fixed!important;}
.relative{position:relative!important;}
.absolute{position:absolute!important;}

.text-center{text-align:center!important;}
.text-right{text-align:right!important;}
.text-left{text-align:left!important;}

.f12{font-size:12px!important;}
.f14{font-size:14px!important;}
.thide{overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}

.blank10{display:block;height:10px; overflow:hidden;}
.blank15{display:block;height:15px; overflow:hidden;}
.blank20{display:block;height:20px; overflow:hidden;}

.bgnone{background:none!important;}
.bornone{border:0 none!important;}

.w1200{width: 1200px;min-width:1200px;margin: 0 auto;}

.FontBgColor{background-color:#333;}