.index-menu{border: 0 none;margin-bottom: 10px;}
.banner{text-align: center; overflow: hidden;}
.banner-ad{margin:0 auto;width: 1200px;}

.w-hr{height: 1px;background-color: #000;margin:10px 0; position: relative;}
.w-hr .tit{padding:0 10px;background-color: #fff;position: absolute;left:40%;top:-13px;font-size: 18px;}

.fashion-block{margin-top: 40px;overflow:hidden;}
.fashion-block .tab{text-align: center;}
.fashion-block .tab span{height: 28px;line-height: 28px;margin:0 2px;padding: 0 10px;background-color: #000;
	color: #fff;font-size: 12px;border: 5px solid #000;-moz-border-radius: 10px; -webkit-border-radius: 10px;
	border-radius:10px; 
}
.fashion-block .tab span:hover,.fashion-block .tab .curr{cursor: pointer;background-color: #999;border: 5px solid #999;}

.data-block{margin-top: 20px; text-align: center;}
.data-block li{display: inline;margin-right: 10px;}
.data-block img{padding:1px;border:1px solid #000;}

.save-top{height: 325px;overflow: hidden;}
.save-top .ad-left{float: left;display:inline;}
.mind-list{overflow: hidden;}
.mind-list li{text-align: center; width:245px;height:250px;float: left;display: inline;overflow: hidden;
	border: 1px solid #ddd;}
.mind-list li.noboder{border-left:0 none;}
.mind-list li .title{text-align: left;padding: 0 10px;line-height: 20px;}
.mind-list li .title a{color:#999;}
.mind-list li .price{text-align: left;color:#999;padding-left: 15px;}
.mind-list li .make-price{text-decoration:line-through;}
.mind-list li .shop-price{margin-left: 10px;font-weight: bold;color:#f00;}
.index-mod li{height:260px;padding-top:62px;}

.ad-right{float: right;display:inline;}

.save-bottom .mind-list li{width: 238px;border-top:0 none;}