.catgory-block{margin-top: 20px;}
.menu-left{float: left;width: 215px;}
.cat-title{height: 38px;background-color: #000;color:#fff;}
.cat-title .tit{line-height: 38px; font-size: 18px;text-align: center;color:#fff;}
.cat-list{margin-top: 15px;background-color:#F2F2F2;border:1px solid #ccc;border-top:0 none;}
.cat-list li{line-height: 30px; }

.cat-list .arrow_down,.cat-list .arrow_down:hover{font-weight:bold;background:url(img/arrow_u.png) #DEDEDE no-repeat 10px 12px;}
.cat-list .arrow_up,.cat-list .arrow_up:hover{color:#fff;font-weight:bold;background:url(img/arrow_d.png) #b7b7b7 no-repeat 10px 13px;}

.cat-list li a{display: block;padding:0 5px 0 24px;border-top:1px solid #ccc;}
.cat-list li a:hover,.cat-list li.curr a{background-color: #DEDEDE; text-decoration: none;}

.cat-list li ul{display:none;}
.cat-list li ul li{display:block;border-top:0 none;}
.cat-list li ul li a{padding-left:22px;}

.data{margin-top: 20px;}
.cat-data-list{width:965px;float: left;margin-left: 20px;}
.data-list li{text-align: center;width:235px;height:250px;margin-right:5px;margin-bottom:10px;float: left;display: inline;
    overflow: hidden;border: 1px solid #ddd;}
.data-list li.right{margin-right: 0;}
.data-list li .title{text-align: left;padding: 0 10px;line-height: 20px;}
.data-list li .title a{color:#999;}
.data-list li .price{text-align: left;color:#999;padding-left: 15px;}
.data-list li .make-price{text-decoration:line-through;}
.data-list li .shop-price{margin-left: 10px;font-weight: bold;color:#f00;}

.thumb-list li {height:320px;}
.thumb-list li .title{height:40px;overflow:hidden;}
.thumb-list li .thumb{text-align:left;margin-top:42px;}
.thumb-list li .thumb img{ border:1px solid #ccc;margin-left:4px;margin-bottom: 1px;cursor: pointer; }
.thumb-list li .more-h{margin-top:10px;}
.thumb-list li .thumb .curr{border:1px solid #FF9700;}


.gride_pai li{margin-bottom:5px;}
.gride_pai li a{margin-right:10px;}